/*---------------------------------------------------------------------------------------------
*
*	Flexible Content
*	
*---------------------------------------------------------------------------------------------*/
.pdc-field-setting-fc_layout .pdc-fc-meta {
  margin: 0 0 10px;
  padding: 0;
}
.pdc-field-setting-fc_layout .pdc-fc-meta li {
  margin: 0 0 10px;
  padding: 0;
}
.pdc-field-setting-fc_layout .pdc-fc-meta .pdc-fc-meta-display,
.pdc-field-setting-fc_layout .pdc-fc-meta .pdc-fc-meta-min {
  float: left;
  width: 33%;
  padding-right: 10px;
}
.pdc-field-setting-fc_layout .pdc-fc-meta .pdc-fc-meta-label .pdc-input-prepend,
.pdc-field-setting-fc_layout .pdc-fc-meta .pdc-fc-meta-name .pdc-input-prepend,
.pdc-field-setting-fc_layout .pdc-fc-meta .pdc-fc-meta-display .pdc-input-prepend {
  min-width: 45px;
}
.pdc-field-setting-fc_layout .pdc-input-wrap.select {
  border-radius: 0 3px 3px 0 !important;
  border: #DFDFDF solid 1px;
}
.pdc-field-setting-fc_layout .pdc-input-wrap.select select {
  margin: 0;
  border: 0 none;
  padding: 3px;
  height: 26px;
}
.pdc-field-setting-fc_layout .pdc-fl-actions {
  visibility: hidden;
}
.pdc-field-setting-fc_layout .pdc-fl-actions .reorder-layout {
  cursor: move;
}
.pdc-field-setting-fc_layout .pdc-fl-actions a {
  padding: 1px 0;
  font-size: 13px;
  line-height: 20px;
}
.pdc-field-setting-fc_layout:hover .pdc-fl-actions,
.pdc-field-setting-fc_layout.-hover .pdc-fl-actions {
  visibility: visible;
}
/*---------------------------------------------------------------------------------------------
*
*	Clone
*	
*---------------------------------------------------------------------------------------------*/
.pdc-field-object-clone {
  /* group */
  /* seamless */
}
.pdc-field-object-clone[data-display="seamless"] .pdc-field-setting-instructions,
.pdc-field-object-clone[data-display="seamless"] .pdc-field-setting-layout,
.pdc-field-object-clone[data-display="seamless"] .pdc-field-setting-wrapper,
.pdc-field-object-clone[data-display="seamless"] .pdc-field-setting-conditional_logic {
  display: none;
}
