/*--------------------------------------------------------------------------------------------
*
*	Vars
*
*--------------------------------------------------------------------------------------------*/
/* colors */
/* pdc-field */
/* responsive */
/*--------------------------------------------------------------------------------------------
*
*	Mixins
*
*--------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------
*
*  Global
*
*---------------------------------------------------------------------------------------------*/
#adv-settings .show-field-keys label {
  padding: 0 5px;
}
#pdc-field-group-fields > .inside,
#pdc-field-group-locations > .inside,
#pdc-field-group-options > .inside {
  padding: 0;
  margin: 0;
}
.pdc-field p.description {
  font-style: normal;
  font-size: 12px;
  color: #777777;
}
/*---------------------------------------------------------------------------------------------
*
*  Postbox: Publish
*
*---------------------------------------------------------------------------------------------*/
#minor-publishing-actions,
#misc-publishing-actions #visibility {
  display: none;
}
#minor-publishing {
  border-bottom: 0 none;
}
#misc-pub-section {
  border-bottom: 0 none;
}
#misc-publishing-actions .misc-pub-section {
  border-bottom-color: #F5F5F5;
}
/*---------------------------------------------------------------------------------------------
*
*  Postbox: Fields
*
*---------------------------------------------------------------------------------------------*/
#pdc-field-group-fields {
  border: 0 none;
  box-shadow: none;
  /* metabox */
  /* links */
  /* table header */
  /* show keys */
  /* fields */
}
#pdc-field-group-fields > .handlediv,
#pdc-field-group-fields > .hndle {
  display: none;
}
#pdc-field-group-fields a {
  text-decoration: none;
}
#pdc-field-group-fields a:active,
#pdc-field-group-fields a:focus {
  outline: none;
  box-shadow: none;
}
#pdc-field-group-fields .li-field-order {
  width: 20%;
}
#pdc-field-group-fields .li-field-label {
  width: 30%;
}
#pdc-field-group-fields .li-field-name {
  width: 25%;
}
#pdc-field-group-fields .li-field-type {
  width: 25%;
}
#pdc-field-group-fields .li-field-key {
  display: none;
}
#pdc-field-group-fields.show-field-keys .li-field-label,
#pdc-field-group-fields.show-field-keys .li-field-name,
#pdc-field-group-fields.show-field-keys .li-field-type,
#pdc-field-group-fields.show-field-keys .li-field-key {
  width: 20%;
}
#pdc-field-group-fields.show-field-keys .li-field-key {
  display: block;
}
#pdc-field-group-fields .pdc-field-list-wrap {
  border: #DFDFDF solid 1px;
}
#pdc-field-group-fields .pdc-field-list {
  background: #F9F9F9;
  margin-top: -1px;
  /* no fields */
  /* empty */
}
#pdc-field-group-fields .pdc-field-list .no-fields-message {
  padding: 15px 15px;
  background: #fff;
  display: none;
}
#pdc-field-group-fields .pdc-field-list.-empty .no-fields-message {
  display: block;
}
/* field object */
.pdc-field-object {
  border-top: #F0F0F0 solid 1px;
  background: #fff;
  /* sortable */
  /* meta */
  /* handle */
  /* open */
  /*
	// debug
	&[data-save="meta"] {
		> .handle {
			border-left: #ffb700 solid 5px !important;
		}
	}
	
	&[data-save="settings"] {
		> .handle {
			border-left: #0ec563 solid 5px !important;
		}
	}
*/
  /* hover */
  /* settings */
  /* conditional logic */
}
.pdc-field-object.ui-sortable-helper {
  border-top-color: #fff;
  box-shadow: 0 0 0 1px #DFDFDF, 0 1px 4px rgba(0, 0, 0, 0.1);
}
.pdc-field-object.ui-sortable-placeholder {
  box-shadow: 0 -1px 0 0 #DFDFDF;
  visibility: visible !important;
  background: #F9F9F9;
  border-top-color: transparent;
  min-height: 54px;
}
.pdc-field-object.ui-sortable-placeholder:after,
.pdc-field-object.ui-sortable-placeholder:before {
  visibility: hidden;
}
.pdc-field-object > .meta {
  display: none;
}
.pdc-field-object > .handle a {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.pdc-field-object > .handle li {
  padding-top: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}
.pdc-field-object > .handle .pdc-icon {
  margin: 1px 0 0;
  cursor: move;
  background: transparent;
  float: left;
  height: 28px;
  line-height: 28px;
  width: 28px;
  font-size: 13px;
  color: #444;
  position: relative;
  z-index: 1;
}
.pdc-field-object > .handle strong {
  display: block;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 14px;
  min-height: 14px;
}
.pdc-field-object > .handle .row-options {
  visibility: hidden;
}
.pdc-field-object > .handle .row-options a {
  margin-right: 4px;
}
.pdc-field-object > .handle .row-options a.delete-field {
  color: #a00;
}
.pdc-field-object > .handle .row-options a.delete-field:hover {
  color: #f00;
}
.pdc-field-object.open + .pdc-field-object {
  border-top-color: #E1E1E1;
}
.pdc-field-object.open > .handle {
  background: #2a9bd9;
  border: #2696d3 solid 1px;
  text-shadow: #268FBB 0 1px 0;
  color: #fff;
  position: relative;
  margin: -1px -1px 0 -1px;
}
.pdc-field-object.open > .handle a {
  color: #fff !important;
}
.pdc-field-object.open > .handle a:hover {
  text-decoration: underline !important;
}
.pdc-field-object.open > .handle .pdc-icon {
  border-color: #fff;
  color: #fff;
}
.pdc-field-object.open > .handle .pdc-required {
  color: #fff;
}
.pdc-field-object:hover > .handle .row-options,
.pdc-field-object.-hover > .handle .row-options {
  visibility: visible;
}
.pdc-field-object > .settings {
  display: none;
  width: 100%;
}
.pdc-field-object > .settings > .pdc-table {
  border: none;
}
.pdc-field-object .rule-groups {
  margin-top: 20px;
}
/*---------------------------------------------------------------------------------------------
*
* Postbox: Locations
*
*---------------------------------------------------------------------------------------------*/
.rule-groups h4 {
  margin: 15px 0 5px;
}
.rule-groups .rule-group {
  margin: 0 0 5px;
  /* Don't allow user to delete the first field group */
}
.rule-groups .rule-group h4 {
  margin: 0 0 3px;
}
.rule-groups .rule-group td.param {
  width: 35%;
}
.rule-groups .rule-group td.operator {
  width: 20%;
}
.rule-groups .rule-group td.add {
  width: 40px;
}
.rule-groups .rule-group td.remove {
  width: 28px;
  vertical-align: middle;
}
.rule-groups .rule-group td.remove a {
  visibility: hidden;
}
.rule-groups .rule-group tr:hover td.remove a {
  visibility: visible;
}
.rule-groups .rule-group:first-child tr:first-child td.remove a {
  visibility: hidden !important;
}
.rule-groups .rule-group select:empty {
  background: #f8f8f8;
}
/*---------------------------------------------------------------------------------------------
*
*	Options
*	
*---------------------------------------------------------------------------------------------*/
#pdc-field-group-options tr[data-name="hide_on_screen"] li {
  float: left;
  width: 33%;
}
@media (max-width: 1100px) {
  #pdc-field-group-options tr[data-name="hide_on_screen"] li {
    width: 50%;
  }
}
/*---------------------------------------------------------------------------------------------
*
*	Conditional Logic
*	
*---------------------------------------------------------------------------------------------*/
table.conditional-logic-rules {
  background: transparent;
  border: 0 none;
  border-radius: 0;
}
table.conditional-logic-rules tbody td {
  background: transparent;
  border: 0 none !important;
  padding: 5px 2px !important;
}
/*---------------------------------------------------------------------------------------------
*
*	Field: Tab
*	
*---------------------------------------------------------------------------------------------*/
.pdc-field-object-tab .pdc-field-setting-name,
.pdc-field-object-tab .pdc-field-setting-instructions,
.pdc-field-object-tab .pdc-field-setting-required,
.pdc-field-object-tab .pdc-field-setting-warning,
.pdc-field-object-tab .pdc-field-setting-wrapper,
.pdc-field-object-accordion .pdc-field-setting-name,
.pdc-field-object-accordion .pdc-field-setting-instructions,
.pdc-field-object-accordion .pdc-field-setting-required,
.pdc-field-object-accordion .pdc-field-setting-warning,
.pdc-field-object-accordion .pdc-field-setting-wrapper {
  display: none;
}
.pdc-field-object-tab .li-field-name,
.pdc-field-object-accordion .li-field-name {
  visibility: hidden;
}
.pdc-field-object + .pdc-field-object-tab:before,
.pdc-field-object + .pdc-field-object-accordion:before {
  display: block;
  content: "";
  height: 5px;
  width: 100%;
  background: #f9f9f9;
  border-bottom: #f0f0f0 solid 1px;
}
.pdc-field-object-tab p:first-child,
.pdc-field-object-accordion p:first-child {
  margin: 0.5em 0;
}
/*---------------------------------------------------------------------------------------------
*
*	Field: Accordion
*	
*---------------------------------------------------------------------------------------------*/
.pdc-field-object-accordion .pdc-field-setting-instructions {
  display: table-row;
}
/*---------------------------------------------------------------------------------------------
*
*	Field: Message
*	
*---------------------------------------------------------------------------------------------*/
.pdc-field-object-message tr[data-name="name"],
.pdc-field-object-message tr[data-name="instructions"],
.pdc-field-object-message tr[data-name="required"] {
  display: none !important;
}
.pdc-field-object-message .li-field-name {
  visibility: hidden;
}
.pdc-field-object-message textarea {
  height: 175px !important;
}
/*---------------------------------------------------------------------------------------------
*
*	Field: Separator
*	
*---------------------------------------------------------------------------------------------*/
.pdc-field-object-separator tr[data-name="name"],
.pdc-field-object-separator tr[data-name="instructions"],
.pdc-field-object-separator tr[data-name="required"] {
  display: none !important;
}
/*---------------------------------------------------------------------------------------------
*
*	Field: Date Picker
*	
*---------------------------------------------------------------------------------------------*/
.pdc-field-object-date-picker .pdc-radio-list li,
.pdc-field-object-time-picker .pdc-radio-list li,
.pdc-field-object-date-time-picker .pdc-radio-list li {
  line-height: 25px;
}
.pdc-field-object-date-picker .pdc-radio-list span,
.pdc-field-object-time-picker .pdc-radio-list span,
.pdc-field-object-date-time-picker .pdc-radio-list span {
  display: inline-block;
  min-width: 10em;
}
.pdc-field-object-date-picker .pdc-radio-list input[type="text"],
.pdc-field-object-time-picker .pdc-radio-list input[type="text"],
.pdc-field-object-date-time-picker .pdc-radio-list input[type="text"] {
  width: 100px;
}
.pdc-field-object-date-time-picker .pdc-radio-list span {
  min-width: 15em;
}
.pdc-field-object-date-time-picker .pdc-radio-list input[type="text"] {
  width: 200px;
}
/*--------------------------------------------------------------------------------------------
*
*	Slug
*
*--------------------------------------------------------------------------------------------*/
#slugdiv .inside {
  padding: 12px;
  margin: 0;
}
#slugdiv input[type="text"] {
  width: 100%;
  height: 28px;
  font-size: 14px;
}
/*--------------------------------------------------------------------------------------------
*
*	RTL
*
*--------------------------------------------------------------------------------------------*/
html[dir="rtl"] .pdc-field-object.open > .handle {
  margin: -1px -1px 0;
}
html[dir="rtl"] .pdc-field-object.open > .handle .pdc-icon {
  float: right;
}
html[dir="rtl"] .pdc-field-object.open > .handle .li-field-order {
  padding-left: 0 !important;
  padding-right: 15px !important;
}
/*---------------------------------------------------------------------------------------------
*
*  Device
*
*---------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 850px) {
  tr.pdc-field,
  td.pdc-label,
  td.pdc-input {
    display: block !important;
    width: auto !important;
    border: 0 none !important;
  }
  tr.pdc-field {
    border-top: #ededed solid 1px !important;
    margin-bottom: 0 !important;
  }
  td.pdc-label {
    background: transparent !important;
    padding-bottom: 0 !important;
  }
}
